@page "/invoice-test"

<PageTitle>Invoice IFrame Test</PageTitle>

<h3>Invoice Page in IFrame</h3>

<iframe src="/" width="1000" height="600" style="border:1px solid #ccc;" title="Invoice Page"></iframe>