.invoice-main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.invoice-header-container {
    flex-grow: 0
}

.invoice-bubble-container {
    flex-grow: 0
}

.invoice-table-container {
    flex-grow: 1;
    min-height: 0; 
    height: 0; 
}


